# Pyxel additional requirements for generating documentation

doc8<1.0.0
sphinx
sphinx-book-theme
sphinxcontrib-bibtex
sphinxcontrib-napoleon
sphinx-panels
ipython != 8.1; python_version < '3.9'
ipython>=8.1; python_version >= '3.9'
sphinx-inline-tabs
myst-nb
